[submodule "gitlearning/gitone"]
	path = gitlearning/gitone
	url = git@github.com:htikelinn/gitone.git

[submodule "gitlearning/gitwo"]
	path = gitlearning/gittwo
	url = git@github.com:htikelinn/gittow.git